version: '3.4'
services:
  trustlines-validator.dnp.dappnode.eth:
    image: 'trustlines-validator.dnp.dappnode.eth:0.1.2'
    build: ./build
    ports:
      - '30302:30302'
      - '30302:30302/udp'
    volumes:
      - 'tlbc:/data'
      - 'config:/config/custom'
      - 'enode:/config/network'
    environment:
      - ADDRESS=
      - PASSWORD=
      - PARITY_ARGS=
    restart: unless-stopped
volumes:
  tlbc: {}
  config: {}
  enode: {}
